@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@font-face {
  font-family: 'Modern-Era-bold';
  src: url(/font/ModernEra-Bold.otf);
}

@font-face {
  font-family: 'aye-nmr';
  src: url(/font/NeueMachina-Regular.woff2);
}

@font-face {
  font-family: 'Modern-Era-regular';
  src: url(/font/ModernEra-Regular.ttf);
}

@font-face {
  font-family: 'Modern-Era-medium';
  src: url(/font/modern-era-medium.ttf);
}


body {
  font-family: 'Modern-Era-medium' !important;
  min-height: 100vh;
  background-color: #f8f9fc;
}

.p-component {
  font-family: 'Modern-Era-medium' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Modern-Era-bold' !important;
}

.censor-card h6 {
  margin-bottom: 0;
  font-size: 15px;
}

section.login {
  min-height: 100vh;
  background: #fff;
  display: flex;
}

.left-wrapper {
  width: 45%;
  background: #f8f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-wrapper {
  width: 55%;
  background: #fff;
}

.right-wrapper {
  width: 55%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  min-width: 600px;
}

.form-control {
  padding: 0.75rem 1rem !important;
  background-color: transparent !important;
  border: 1px solid #b6bdcb !important;
}



.form-control:focus {
  border-color: #3F51B5 !important;
  box-shadow: none !important;
  background: transparent !important;
}

.form-label {
  margin-bottom: 0.5rem;
  color: #5f6368;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login-wrapper p {
  color: rgba(0, 0, 0, .6);
}

.navbar-brand img {
  height: 28px;
}

section.banner {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  background: #fdfdfd;
  padding: 20px 0;
}

.banner.inner {
  align-items: flex-start;
}

section.banner h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-wrapper {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  min-height: 200px;
}

.sense-card {
  background-color: #f3f4f5;
  padding: 24px 30px;
  width: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  justify-content: space-between;
  color: #000 !important;
  text-decoration: none;
  transition: all 0.2s;
}

a.sense-card:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.pulse {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c5cbd0;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

}

.sense-card:hover .pulse {
  background-color: #03A9F4;
}

.pulse img {
  width: 8px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 rgba(173, 182, 231, 0.5);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(173, 182, 231, 0);
  }
}

.cards {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.sense-card svg {

  width: 33px;
  height: 33px;

}

.home-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

a.navbar-brand span {
  font-style: normal;
  color: #3f51b5;
  font-weight: 400;
}

.banner p {
  color: rgba(0, 0, 0, .6);
}

.border-bottom {
  border-bottom: 1px solid #f3f4f5 !important;
}

.header {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
}

.header .user {
  width: 55px;
  height: 55px;
  display: block;
  background: #f8f9fc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
}

span.user-info {
  color: rgb(0 0 0 / 33%);
  font-size: 14px;
}

.card_body img {
  width: 80px;
  height: 80px;
}

.card_body img+img {
  margin-left: 10px;
}

button:focus:not(:focus-visible) {
  outline: 0;
  border-color: transparent !important;
}

.dropstart .dropdown-toggle::before {
  content: none !important;
}





.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent !important;
}

.img-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.censor-card p {
  font-size: 14px;
}

.censor-card {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: flex-start;
}

span.status {
  display: flex;
  width: 10px;
  height: 10px;
  background: gainsboro;
  border-radius: 50%;
  margin-top: 4px;
}


span.status.success {
  background: #2e7d32;
}

span.status.danger {
  background: rgb(211, 47, 47);
}

.censor-card-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;

}

.censor-card-wrapper .dropstart {
  transform: translate(12px, -4px);
}

.offcanvas {
  padding: 42px;
  width: 482px !important;
}

ul.censor-list {
  list-style: none;
  padding-inline-start: 0px;
}

ul.censor-list li {
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}


.btn-close:focus {
  box-shadow: none !important;
}

.px5-py6 {
  padding: 2.5rem 2.25rem;
}

ul.censor-list li {
  cursor: pointer;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  position: relative;
  border: 1px solid #e2e7f1 !important;
  min-height: 105px;
}

.censor-card h6 {
  margin-bottom: 0;
}

.stepper-circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.stepper-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #F0F0F0;
  font-size: 16px;
  color: #7e8796;
  background-color: #fff;
  width: 96%;
  cursor: pointer;
}

.progress-bar {
  height: 1px;
  background-color: #F0F0F0;
  position: relative;
  position: absolute;
  width: 100%;
  top: 20px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #212529;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.stepper-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid#F0F0F0;
  font-size: 16px;
  color: #7e8796;
  background-color: #fff;
  position: relative;
}

.stepper-circle.active {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}

.stepper-circle span:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stepper-info {
  white-space: nowrap;
  bottom: 0;
  transform: translateY(34px);
  color: #7e8796;
  font-size: 14px;
}

.uploader {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  width: 60px;
  height: 60px;
}

.uploader img {
  width: 60px;
  height: 60px;
  border-radius: 4px;

}

.delete-overlay {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: rgb(255 255 255 / 81%);
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;

}

.image-container:hover .delete-overlay {
  opacity: 1;
  z-index: 1;
  transition: all 0.6s;
}

.btn-dark svg {
  stroke: #fff;
}

.lc.form-label {
  text-transform: none;
  font-size: 16px;
  white-space: nowrap;
}

input.cm.form-control {
  max-width: 100px;
}

.wrapper {
  height: 66vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 3px;
}

/* width */
.wrapper::-webkit-scrollbar {
  width: 4px;
  border-radius: 6px;
  overflow: hidden;
}

/* Track */
.wrapper::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background: #e8ebf1;
  border-radius: 6px;
  overflow: hidden;
}

/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background: #e8ebf1;
  border-radius: 6px;
  overflow: hidden;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  cursor: not-allowed;
  pointer-events: inherit !important;
  opacity: 0.4 !important;
}

ul.censor-list li.active {
  position: absolute;
  width: 3px;
  height: 8px;
  content: '';
}

ul.censor-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.border-card {
  border: 1px solid #e2e7f1 !important;
}


.search.input-group .form-control {
  background-color: #fff !important;
  border: 1px solid #e2e7f1 !important;
  padding-left: 0px !important;
  border-left: 0px !important;
}

.search .input-group-text {
  padding: 0.375rem 1rem !important;
  background-color: #fff !important;
  border: 1px solid #e2e7f1 !important;
}

.img-bg {
  background: linear-gradient(90deg, #ffffff 50%, #f3f4f5 50%);
  padding: 40px;

}

@media(max-width:1280px) {
  .left-wrapper {
    display: none;
  }

  .login-wrapper {
    min-width: 100%;
  }

  .right-wrapper {
    width: 100%;
    padding: 30px;
  }
}

.card-head .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.card-head .dropdown-item:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}

.icon-btn {
  gap: 5px;
}

.icon-btn button {
  display: flex;
  align-items: center;
  width: 44px;
  height: 42px;
  justify-content: center;
}

table.patient-list img {
  width: 40px;
  height: 40px;
}

.img-td img {
  border-radius: 50%;
}

.img-td {
  display: flex;
  gap: 5px;
}

.text-right {
  text-align: right;
}

nav.navbar {
  border-bottom: 1px solid gainsboro;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.sidenav {
  position: fixed;
  width: 120px;
  border-right: 1px solid gainsboro;
  height: calc(100vh - 82px);
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: #fff;
  z-index: 99;
}

.sidenav ul {
  width: 100%;
  padding-left: 0rem;
}

.sidenav ul li {
  list-style: none;
  width: 100%;

}


.sidenav ul li a {
  color: #636363;
  width: 100%;
  text-decoration: none;
  padding: 15px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
  gap: 8px;
}

.sidenav ul li a i {
  font-size: 20px;
}


.layout {
  padding: 102px 20px 15px 140px;
  min-height: 100vh;
}

.sidenav ul li.active a {
  color: #6366f1;
}

.p-dataview-grid .p-dataview-content {
  margin: 0 -8px !important;
}

.p-dataview-grid .p-dataview-content {
  background: #f8f9fc !important;
}

.p-dataview .p-dataview-header {
  border: 0px solid #dee2e6 !important;
}

.p-dataview .p-dataview-header {
  background: #ebeef1 !important;
  border-radius: 6px;
}

@media(max-width:992px) {
  .sidenav {
    width: 60px;
    height: calc(100vh - 53px);
    padding: 5px 0;
  }

  .p-dataview-layout-options {
    display: none !important;
  }


  button {
    font-size: 12px !important;
  }

  .navbar-brand span {
    font-style: normal;
    color: #3f51b5;
    font-weight: 400;
    font-size: 16px;
  }

  .layout {
    padding: 63px 15px 15px 70px;
  }

  .sidenav ul li a {
    padding: 10px 0;
  }

  .add-patients .form-control {
    padding: 0.25rem 0rem !important;
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 1px solid #b6bdcb !important;
    border-radius: 0px;
    font-size: 14px;
  }

  .add-patients .p-inputtext {
    padding: 0.25rem 0rem !important;
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 1px solid #b6bdcb !important;
    border-radius: 0px;
    font-size: 14px;
  }

  .p-float-label>label {
    left: 0rem !important;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none !important;
  }

  .form-label {
    margin-bottom: 0.25rem;
    color: #5f6368;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 10px;
  }

  .sidenav ul li a {
    font-size: 10px;
  }
}

.max-600 {
  max-width: 600px;
}

.capitalize {
  text-transform: capitalize !important;
}

.data {
  font-size: 18px;
  color: #000;
}

.uppercase {
  text-transform: uppercase;
}

.p-grid.grid.p-nogutter.grid-nogutter .col-12:not(:first-child) th {
  display: none !important;
}

.p-grid.grid.p-nogutter.grid-nogutter .col-12 td {
  width: 25%;
}

.p-dataview .p-dataview-header {
  margin-bottom: 15px !important;
}

.table>:not(caption)>*>* {
  border-bottom-width: 0px;
}

.p-grid.grid.p-nogutter.grid-nogutter .col-12:nth-child(even) th {
  display: none !important;
}

.p-grid.grid .col-12:nth-child(2n) .table>:not(caption)>*>* {
  box-shadow: none !important;
}

.p-dataview-emptymessage {
  padding: 20px;
  text-align: center;
}

.p-dataview-layout-options {
  flex-wrap: nowrap;
  display: flex;
}

.device-list td {
  width: 16.6666666667% !important;
}

.pointer {
  cursor: pointer;
}

.p-dropdown {
  width: 100% !important;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 15px;
}

.p-dropdown {
  background: transparent !important;
}

.p-inputtext {
  margin: 0;
  width: 100%;
  background: transparent !important;
}

.p-inputnumber {
  display: inline-flex;
  width: 100%;
}

.p-inputnumber-float-label-container {
  position: relative;
}

.p-inputnumber-float-label-container label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 0 0.5rem;
  font-size: 0.875rem;
  background-color: white;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.p-inputnumber-float-label-container input {
  padding: 1rem 0.5rem;
  padding-top: 1.75rem;
}

.header-bar {
  background: #ebeef1 !important;
  border-radius: 6px;
  padding: 15px;
}

thead {
  background: #fff;
}

.modal-body .layout {
  padding: 0;
  height: auto !important;
  min-height: auto !important;
}